@font-face {
  font-family: Montserrat-Medium;
  src: url('../public/font/static/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../public/font/static/Montserrat-Light.ttf');
}

@font-face {
  font-family: LexendDeca-Regular;
  src: url('../public/font/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../public/font/static/Montserrat-Bold.ttf');
}

:-webkit-scrollbar {
  width: 6px; 
  }


::-webkit-scrollbar-track {
  background: #FEFAF6; 
}


::-webkit-scrollbar-thumb {
  background: #2A2E35; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #2A2E35; 
}


h2 {
  font-family: Montserrat-Bold;
  color: #0E2954;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #C9AD88 -86%, #FFF6E4 43%);
  font-family: Montserrat-Medium;
}


header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background: linear-gradient(to bottom, #652B2A, #B55251); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.left-header {
  border-bottom: 2px solid #CFA18A;
  height: 40px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.right-header {
  border-bottom: 2px solid #CFA18A;
  display: flex;
  height: 40px;
  justify-content: space-around;
  width: 50%;
}

.header-block{
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.header-block ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0px 50px;
}

li {
  list-style: none;
}

.center-block-h1 {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(to bottom, #446AA3, #284371); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-family: LexendDeca-Regular;
}

.center-block-page {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to bottom, #652B2A, #B55251); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.button-container {
  text-align: center;
}

.oval-button {
  background-color: #D7B8A6;
  color: #5D2A27;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
}

.oval-button:hover {
  background-color: #C2A08F; 
}

.oval-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.center-block {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  text-align: center;
}

.video-container {
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border: 5px solid #C2A08F;
  border-radius: 30px;
}

.video-frame {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}


.callback-block {
  display: flex;
  width: 95%;
  margin-top: 100px;
  justify-content: end;
}

a {
  text-decoration: none;
  color: inherit; 
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}


.call {
  display: flex;
  justify-content: space-between;
  width: 240px;
  align-items: center;
  align-content: center;
}

.call p {
  color: #CFA18A;
  font-size: 24px;
}

.white-block {
  background: white;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* AboutUs Component */

.why-us-section {
  text-align: center;
  padding: 50px 20px;
  margin: 140px 0px;
}

.why-us-section h2 {
  font-size: 24px;
  color: #1e1e1e; 
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card-container {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 20px;
  width: 274px;
  height: 238px;
  border: 3px solid #CFA18A;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-container .icon {
  font-size: 40px;
  color: #f0c030; 
  margin-bottom: 20px;
}

.card-container h3 {
  font-size: 18px;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.card-container p {
  font-size: 14px;
  color: #7a7a7a;
}


.block-about-us {
  margin-top: 160px;
}

.block-about-us h2 {
  text-align: center;
  color: #0E2954;
}

.info-block {
  display: flex;
  justify-content: center;
}

.text-block {
  width: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 24px;
}

.why-my {
  display: flex;
  justify-content: space-around; 
  gap: 20px; 
  padding: 40px;
}


.icon {
  font-size: 40px;
  color: #D3B9AA; 
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #5D2A27;
  margin-bottom: 10px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  color: #7D7D7D; 
  line-height: 1.5;
}

/* Speakers Component */

.speakers-section {
  padding: 50px 0;
  text-align: center;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.speaker-card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.speaker-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}


.speaker-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.speaker-card p {
  color: #666;
}

.contact h1 {
  text-align: center;
  color: #0E2954;
}

/* CardsInfo Component */

.cards {
  justify-content: space-around;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  width: 584px;
  height: 359px; 
  perspective: 1000px;
  cursor: pointer;
  position: relative; 
  border-radius: 30px;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s; 
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg); 
}

.card:hover .back {
  transform: rotateY(0deg); 
}

.card-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 13px; 
  color: white; 
  background: linear-gradient(to bottom, #446AA3, #284371); 
}


.card-text p{
  font-size: 19px;
  display: flex;
  justify-content: center;
  text-align: center;

}

.card-info h2 {
  text-align: center;
  color: white;
}

.card:nth-child(2) .card-text {
  background: linear-gradient(to bottom, #652B2A, #B55251); 
}

.button-center {
  display: flex;
  justify-content: center;
}

.button-center button {
  width: 255px;
  height: 58px;
  border-radius: 30px;
  background-color: #CFA18A;
  color: white;
  font-size: 18px;
  font-family: Montserrat-Medium;
  border: none;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

/* Contact Component */

.contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 200px auto;
}

.contact h1 {
  text-align: center;
  color: #0E2954;
}

.line {
  width: 450px;
  height: 1px;
  background: #CFA18A;
}

footer {
  display: flex;
}

.footer-right {
  margin-left: 200px;
  font-size: 18px;
}

.footer-right p{
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.footer-right h2 {
  font-size: 20px;
}

.copyright{
  font-size: 26px;
}


/* Reviews  Component*/

.feedback-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5e9d6; 
}

.feedback-section h2 {
  font-size: 24px;
  color: #1e1e1e;
  margin-bottom: 40px;
}

.feedback-container {
  display: flex;
  justify-content: space-around;
}

.feedback-card1 {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 543px;
  height: 254px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.feedback-card2 {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 289;
  height: 104px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.feedback-card3 {
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 124;
  height: 179px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}


@media (max-width: 1200px) {
  .center-block {
    display: block;
    margin-top: 150px;
  }

  .video-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    height: 40vh;
  }
  .text-block { 
    margin-left: 30px;
    display: flex;
    align-items: start;
    font-size: 26px;
    width: 70%;
  }
  .image-block {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 30px;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    width: 70%;
    margin-top: 30px;
    height: 20vh;
  }
  .speakers-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .speaker-card {
    width: 80%;
    height: 26vh;
    margin-top: 200px;
  }
  .speaker-card img {
    width: 400px;
    height: 400px;
  }
  .speaker-card h3 {
    font-size: 2.5em;
    margin-top: 40px;
  }
  .overlay {
    font-size: 1.3em;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-top: 100px;
  }
  .header-block ul {
    width: 100%;
  }
  .header-block {
    width: 100%;
  }
  header {
    font-size: 25px;
  }
  .left-header svg{
    display: none;
  }
  .info-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .info-block2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .image-block {
    display: flex;
    justify-items: center;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .text-block {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  .callback-block {
    margin: 0 auto;
    margin-top: 150px;
    width: 70%;
  }
  .video-container {
    margin-top: 140px;
  }
  .center-block-page {
    font-size: 10px;
    margin-bottom: 70px;
  }
  .oval-button {
    font-size: 30px;
    width: 350px;
    height: 80px;
  }
  .block p {
    font-size: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .block h2 {
    font-size: 40px;
  }
  .button-center button {
    font-size: 30px;
    width: 350px;
    height: 80px;
  }
  .contact h2 {
    font-size: 40px;
  }
  .contact h1 {
    font-size: 40px;
  }
  .block-about-us h2 {
    font-size: 40px;
    margin-bottom: 200px;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .map {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    border-radius: 30px;
    border: 5px solid #C2A08F;;
  }
  .footer-right h2 {
    font-size: 40px;
  }
  .footer-right {
    width: 90%;
    margin: 0 auto;
  }
  .footer-right p {
    font-size: 30px;
    width: 100%;
  }
}
